*{padding:0;margin:0;box-sizing:border-box;}

:root{
	
	
	
	
  --black-color:#000;
  --white-color:#fff;
  --light-gray-color:#f8f8f8;
   --light1-gray-color:#515151;  
   --light2-gray-color:#666666;
  --light3-gray-color : #797979;
  --black-blue-color:#121212;
  --dark-blue-color:#253048;
  --blue-color:#3f9ef1;
  --gray-color:#969696;
  --main-color:#c1ab84;
  --light-brown-color:#686868;
  --dark1-gray-color:#777;
  --light1-black-color:#353330 ;
  --light2-black-color:#484540;
  --light3-black-color:#403d38;
  --blue-gray-color:#A9A9A9;
  --pink-white-color:#dddddd;
  --white-trans-92-color:rgba(255,255,255, .92);
  --white-trans-7-color:rgba(255,255,255, .7);
  --gray-trans-color:#96969627;
  --black-trans-6: rgba(0,0,0,0.6);
  --brown-color:brown;
}
	
	



@font-face{
	src:url(../fonts/Alegreya/Alegreya-VariableFont_wght.ttf);
	font-family:myfontAlegreya;
}


@font-face{
	src:url(../fonts/Alegreya_Sans/AlegreyaSans-medium.ttf);
	font-family:myfontAlegreyaSans;
}
@font-face{
	src:url(../Alegreya_Sans/AlegreyaSans-regular.ttf);
	font-family:myfontAlegreyaSansregular;
}


.container{overflow:hidden;
	width:80%;
	margin:auto;
	
}

.header{
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    z-index: 999;
	float:left;
}

.logo{
    padding-left: 30px;
    float: left;
    width: 30%;
}

@media(max-width:575px){
   
      .logo{width:80%;text-align:center;margin-bottom:10px;
    }
}

.logo img{
    height: 55px;
}

@media(max-width:575px){
    .logo img{
	height: 38px;}
    
}

.navbar{width:70%;
	
	float:left;
	text-align:right;
	
}

@media(max-width:575px){ 
    .navbar{
       
	padding: 0 50px;
	text-align:center;
        width:100% ; 
    }
}

.navbar ul{
    list-style: none;
    text-align: right;
    padding: 20px;
}

@media(max-width:575px){
    .navbar ul{
        padding: 0 2px;float:left;
        text-align: center;
    }    
}
 
.navbar ul li {
    display: inline;
    margin: 0 10px;
}

@media(max-width:575px){
    .navbar ul li { 
         display: inline-block;margin: 0 3px;
    }  
}

.navbar ul li a{
   text-decoration: none;
   text-transform: capitalize;
   font-size: 20px;
   color: var( --gray-color);
 font-family: myfontAlegreya;
}@media(max-width:575px){
   .navbar ul li a{font-size: 17px;
    }  
}




 .contactpage .header .container .navbar .linkcontact a{color:var( --black-color);}

.navbar ul li a:hover{
    color:var(--light2-black-color);
}

.contactpage{overflow:hidden;}



.page-title-inner{
	height:160px;
	width:100%;
	text-align: center;
	    background-color: var(--light-gray-color);    float:left;margin-top:82px;
}
@media(max-width:575px){
	.page-title-inner {
margin-top:110px;
	}
	
	
}


.page-title-inner h1{
	color: var(--dark-blue-color);
	font-family: myfontAlegreya;
	font-size: 36px;
    opacity: 1;
    visibility: visible;line-height: 1.38em;font-weight: 400;margin-bottom:15px;margin-top:50px;
}
@media(max-width:575px){
	.page-title-inner h1{
		font-size: 26px;
		
	}
	
	
}
 .breadcrumbs-holder  ul li {margin-top:6px;display:inline-block;padding:0;color: var(--light2-gray-color);}

.breadcrumbs a{text-decoration:none;color:var(--light1-gray-color);    font-weight: 600;opacity: .7; font-family:myfontAlegreyaSans;}
.breadcrumbs ul{list-style:none;}
.breadcrumbs {
   margin-top: 0;
    font-size: 15px;
margin-bottom: 0;}



.breadcrumbs .firstilclass ::after {
    content: "/";
    display: inline-block;
   
    color:var( --light3-gray-color);
    margin:0 8px;
}

.contact-form-holder{font-family:myfontAlegreyaSans;width:70%;padding-top:40px;float:left;
}
@media(max-width:575px){
	
	.contact-form-holder{
	
	width:100%;float:none;
}

}
.form-row{font-family:myfontAlegreyaSans;
    font-size: 18px;
	margin-bottom: 18px;
overflow:hidden;width:100%;
	
}




@media(max-width:575px){
	
	.form-row{
	
	width:100%;float:none;
}}







.col-md-6{float:left;
width:47%;
} 

@media(max-width:575px){
	
	.col-md-6{
	
	width:100%;float:none;margin-bottom:20px;
}}


.col-md-61{float:left;
width:47%;
}
@media(max-width:575px){
	
	.col-md-61{
	margin-bottom:20px;
	width:100%;float:none;
}}

.form-control{
	line-height: 1.5;
    color:var(--light-brown-color);
	display: block;
	ont-weight: normal;
    padding: 12px 12px;
    font-size: 16px;
    border: 1px solid #e6e6e6;
   font-family:myfontAlegreyaSans;
    box-shadow: none ;
   
    border-radius: 0;
   
    background: none;
	
	
}

@media(max-width:575px){
	
	.form-control{
	
	width:100%;float:none;
}}















.input{
	max-width: 100%;
}
.form-group{
	margin-bottom: 1rem;
width:100%;
}

.btn {background-color: var(--main-color);    margin-bottom: 12px;
letter-spacing: 0.2px;
    font-weight: 700;
    height: auto;
    line-height: 34px;
    border: none;
    text-transform: none;
    font-size: 16px;
    opacity: 1;
visibility: visible;padding: 11px 20px;border-radius: .25rem;font-family:myfontAlegreyaSans;
    color: #fff;}
	
	
	.page-content{overflow:hidden;width:100%;}
	
	
	.content{width:30%;float:left
	;overflow:hidden;}
	
	@media(max-width:575px){
	
	.content{
	
	width:100%;float:none;
}

	}
	.contentparagraf{float:left;width:100%;margin-top:40px;font-family:myfontAlegreyaSans;font-weight:400;
	}
	.contentlist{float:left;width:100%;font-family:myfontAlegreyaSans;}
	
	.contentparagraf h4{margin-bottom:15px;color: var(--dark-blue-color);
    font-size: 21px;
    opacity: 1;
    visibility: visible;    line-height: 1.38em;    font-weight: 400;

}
	
	.contentparagraf p{margin-bottom:25px;line-height: 1.86em;font-size: 18px;
    margin-bottom: 20px;
	color: var(--light-brown-color);
	
	
	}
	.contentlist li{  list-style: none;margin-bottom:25px;
	line-height: 1.86em;
    font-weight: 400;
    color: var(--light-brown-color);
	
	
	
}


.contentlist li i{
	color: #fff;
    background: #aaa;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    line-height: 36px;
    font-size: 18px;
    top: 10px;margin-right:10px;
	background-color: var(--main-color);text-align:center;
	
	
	
	
}
.map{position:relative;}
.map:after{position: absolute;
    top: 0;
    bottom: 0;
   content:"";
    width: 100%;
height:100%;

background-color:rgba(0,1,1,.4)}
	
	
.iframe{
	height:100%;
	width:100%;
}
















.other{
    padding: 50px 0;
    background-color: var(--light3-black-color);
}

.other-items{
    overflow: hidden;
}

.other-item{
    float: left;
    width: 25%;
}

@media(max-width:575px){
    .other-item{
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }    
}

@media(min-width:575px) and (max-width:1280px){
    .other-item{
        float: left;
        width: 50%;
        margin-bottom: 20px;
    }  
}

.other-item h2{
   text-transform: capitalize;
   font-size: 20px;
   padding-bottom: 30px;
   color: var(--white-color);
   font-family:myfontAlegreya;
   font-weight: 400;
}

@media(max-width:575px){
    .other-item h2{
        font-size: 18px;
        padding-bottom: 20px;
     } 
}

@media(min-width:575px) and (max-width:1280px){
    .other-item h2{
        font-size: 18px;
        padding-bottom: 20px;
     } 
}

.other-item p{
    font-size: 18px;
    padding-bottom: 20px;
    color: var(--gray-color);
    width: 90%;
    line-height: 1.4;
    font-family:myfontAlegreyaSansregular;
    font-weight: 400;
}

@media(max-width:575px){
    .other-item p{
        font-size: 16px;
        padding-bottom: 10px;
        line-height: 1.4;
    }
}

@media(min-width:575px) and (max-width:1280px){
    .other-item p{
        font-size: 16px;
        padding-bottom: 10px;
        line-height: 1.4;
    }
}

.other-item ul{
    list-style: none;
}

.other-item ul li{
   color: var(--gray-color);
   font-family:myfontAlegreyaSansregular;
   font-weight: 400;
}

.other-item ul li a{
    text-decoration: none;
    color: var(--blue-gray-color);
    font-family:myfontAlegreyaSansregular;
    font-weight: 400;
}

.other-item ul li a:hover{
    color: var(--white-color);
}

.links{
    text-transform: capitalize;
}

.other-item ul li i{
    margin-right: 10px;
}

@media(max-width:575px){
    .other-item ul li i{
        margin-right: 5px;
    }
}

@media(min-width:575px) and (max-width:1280px){
    .other-item ul li i{
        margin-right: 5px;
    }
}

.other-item ul li:after{
   content: '';
   display: block;
   width: 90%;
   height: 1px;
   background-color: var(--gray-trans-color);
   margin: 15px 0;
}

.footer{
    padding: 50px 0;
    background-color: var(--light1-black-color);
    position: relative;
}

.footer-content{
    text-align: center;
    color: var(--gray-color);
}

.footer-content img{
    padding-bottom: 30px;
}

@media(max-width:575px){
    .footer-content img{
        width: 70%;
        height: 70%;
        padding-bottom: 20px;
    }
}

@media(min-width:575px) and (max-width:1280px){
    .footer-content img{
        width: 70%;
        height: 70%;
        padding-bottom: 20px;
    }
}

.footer-content p{
    font-size: 18px;
    padding-bottom: 30px;
    color: var(--dark1-gray-color);
    font-family:myfontAlegreyaSansregular;
    font-weight: 400;
}

@media(max-width:575px){
    .footer-content p{
        font-size: 16px;
        padding-bottom: 20px;
  }
}

@media(min-width:575px) and (max-width:1280px){
    .footer-content p{
        font-size: 18px;
        padding-bottom: 20px;
  }
}

.footer-content a{
    text-decoration: none;
}

.footer-content i{
    font-size: 25px;
    background-color: var(--light3-black-color);
    height: 60px;
    width: 60px;
    color: var(--gray-color);
    border-radius: 100px;
    padding-top: 16px;
    margin: 0 3px;
}

@media(max-width:575px){
    .footer-content i{
        font-size: 20px;
        height: 50px;
        width: 50px;
        padding-top: 15px;
        margin: 0 4px;
    }
}

@media(min-width:575px) and (max-width:1280px){
    .footer-content i{
        font-size: 20px;
        height: 50px;
        width: 50px;
        padding-top: 15px;
        margin: 0 4px;
    }
}

.footer-content i:hover{
    background-color: var(--blue-color);
    color: var(--white-color);
}

.up{
    position: absolute;
    bottom: 3%;
    left:95%;
}

@media(max-width:575px){
    .up{
        position: absolute;
        bottom: 3%;
        left:89%;
    }
}

@media(min-width:575px) and (max-width:1280px){
    .up{
        position: absolute;
        bottom: 3%;
        left:93%;
    }
}


.up i{
    font-size: 25px;
    background-color: var(--black-trans-6);
    height: 45px;
    width: 45px;
    color: var(--gray-color);
    text-align: center;
    border-radius: 100px;
    padding-top: 7px;
    margin: 0 3px;
    border: 2px var(--gray-color) solid;
}

@media(max-width:575px){
    .up i{
        font-size: 20px;
        height: 35px;
        width: 35px;
        padding-top: 5px;
        margin: 0 1px;
    }
}

@media(min-width:575px) and (max-width:1280px){
    .up i{
        font-size: 20px;
        height: 35px;
        width: 35px;
        padding-top: 5px;
        margin: 0 1px;
    }
}

.up i:hover{
    background-color: #000;
    color: var(--white-color);
    border: 2px var(--white-color) solid;
}

@media(max-width:575px){
    .section{
        padding: 40px 0;
    }    
}

@media(min-width:575px) and (max-width:1280px){
    .section{
        padding: 40px 0;
    }   
}